body {
    background-color: #F4F6F0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */
#menu-nav{
    top: 0;
    background: rgba(143, 167, 147);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    
}

a, .login-button{
    padding-left: 50px;
    color: #F4F6F0;
    text-decoration: none;
    font-weight: 600;
}

.buttons{
    gap: 5px;
    margin-right: 6%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1em;
}

.login-button:hover{
    color: #003817;
    transition: 0.4s;
}

.create-button{
    display: flex;
    width: 120px;

    padding: 10px 5px;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    border: 2px solid #003817;
    background: #003817;
    color: #F4F6F0;
    font-weight: 600;
    margin-left: -15%;
}

.create-button:hover{
    background-color: #F4F6F0;
    color: #003817;
    border: none;
    transition: 0.3s;
}

i{
    font-size: 30px;
    color: #003817;
    cursor: pointer;
}



/* CAMINHO */
.path {
    display: flex;
    justify-content: flex-start;
    margin-top: 500px;
    margin-left: 80px;
    color: #003817;
}

.path a {
    text-decoration: none;
    color: #003817;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

h4 {
    color: #003817;
}

/* PRODUTO */
main {
    display: flex;
    justify-content: center;
}

.produto {
    display: flex;
    background-color: #E8EBE3;
    width: 61%;
    height: 500px;  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    padding: 50px 245px;
    justify-content: left;

}

.back a{
    text-decoration: underline;
    color: #003817;
}

.back {
    margin-top: -20px;
    margin-left: -15%;
    
}

.images {
    width: 500px;
    margin-top: 4%;
    display: flex;
    margin-left: -23%;
}

#img0 {
    width: 310px;
    height: 310px;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 11px;
}

.imgProduct {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.lateral {
    width: 20%;
}

.productImage {
    margin-bottom: 50px;
}

.productPrice {
    display: flex;
    flex-direction: column;
}

.price {
    align-self: center;
    color: #003817;
    font-size: 40px;
}

.info  {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    width: 66%;
    height: 430px;
}

.nameProduct {
    color: #003817;
    font-size: 40px;
    margin-top: -3%;
}

.code-product {
    margin-top: -6%;
    color: #012811;
    font-size: 17px;
    margin-bottom: 30px;
}

.info p {
    font-weight: 600;
    font-size: 18px;
}

button.more{
    color: black;
    border: none;
    background-color: #E8EBE3;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 600px;
    width: 500px;
    font-size: 17px;
    display: flex;
}

.desc {
    width: 500px;
    height: 100px;
    overflow: hidden;
    /*margin-bottom: 10px;*/
    margin-top: -4%;
    transition: 0.2s step-end;
}

.qtd {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.qtd p {
    margin-left: 15px;
}

.inputQtd {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
}

button.buy {
    background-color: #003817;
    color: #E8EBE3;
    font-size: 30px;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-top: 10px;
    cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 1920px) {
    /*#login {
        margin-left: 550px;
    }

    #conta {
        margin-left: -5px;
    }*/

    .back {
        margin-left: -22%;
        white-space: nowrap;
    }

    .produto{
        height: 400px;
    }

    .price {
        margin-top: 0;
    }

    .path {
        margin-top: 165px;
    }
}

/*CARRINHO*/
.hide{
    display: none !important;
}

#cart {
    width: 25%;
    height: 100vh;
    background-color: #E8EBE3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 75%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header-cart{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#close-cart{
    color: #266641;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6px;
    margin-left: 11px
}

.header-cart > h1 {
    font-size: 2.5em;
    text-align: center;
    color: #003817;
    margin: 6% 20% 4% 0%;
}

.produto-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 24%;
}

.produto-carrinho > img{
    background-color: #F4F6F0;
    border-radius: 10px;
    height: 65%;
    margin-left: -12%;
    margin-right: 7%;
}

.info-produto {
    margin-top: -17%;
    color: #073f1e;
}

.info-produto > h2 {
    font-size: 1.2em;
    font-size: medium;
    margin-bottom: 8px;
    color: #012510;
}

.qtd-item{
    width: 50%;
    background-color: transparent;
    text-align: center;
    border: none;
    outline: none;
}

.add-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 20%;
    margin-left: -18%;
    margin-top: 18%;
    padding: 4px;
    background-color: transparent;
    border: #003817 solid 1px;
    border-radius: 5px;
}

.add, .sub {
    font-size: 1.2em;
    font-weight: bolder;
}

.remove-button, .add-button{
    background-color: transparent;
    border: none;
}

.continue {
    width: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue > h2 {
    color: #003817;
    font-size: 1.4em;
    margin-bottom: 2.9%;
}

#continuar {
    padding: 7%;
    width: 97%;
    margin-top: 8%;

    border-radius: 50px;
    border: none;

    background-color: #8FA793F4;
    color: #E8EBE3;

    font-weight: 600;
    font-size: 1em;
}
