@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    background: rgba(143, 167, 147, 0.96);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.box {
    width: 80%;
    max-width: 624px;
    height: auto; /* Use altura automática em telas menores */
    border-radius: 20px;
    background-color: rgba(244, 246, 240, 0.95);
    box-shadow: 0px 3px 8px 0px #5B7860;
    display: flex;
    flex-direction: column;
}

/* Media Query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .box {
        width: 100%; /* Ajuste a largura para ocupar a largura total da tela */
        max-width: 100%;
    }
}

.voltar {
    margin-top: 10px; /* Reduzir a margem superior em telas menores */
    margin-right: 10px; /* Reduzir a margem direita em telas menores */
    text-align: right;
}

.texto {
    background: none;
    color: #012811;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

h1 {
    margin-top: 0;
    color: #003817;
    background: none;
    font-size: 36px; /* Reduzir o tamanho da fonte para telas menores */
    padding: 20px; /* Reduzir o preenchimento para telas menores */
}

div {
    background: none;
}

form {
    padding: 0px 20px; /* Reduzir o preenchimento para telas menores */
    background: none;
}

label{
    background: none;
}

input{
    margin-top: 18px;
    margin-bottom: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(244, 246, 240, 0.95);
    border-bottom: 2px solid;
}

.form{
    display: flex;
    flex-direction: column;
}

input#cpf{
    width: 120px;
    margin-right: 55px;
}

input#tel{
    width: 120px;
    margin-right: 79px;
}

input#TipoVendedor{
    margin-left: 32px;
    
}

input#TipoVendedor, input#TipoCliente{
    fill: #F4F6F0;
    stroke-width: 1px;
    stroke: #003817;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

input#nome, input#senha{
    width: 60%;
}

label#labelCpf, label#telefone{
    margin-right: 137px;
}

.submit input {
    color: #E8EBE3;
    width: 243px;
    height: 42px;
    border-radius: 30px;
    background-color: rgba(143, 167, 147, 0.96);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
