body {
    background-color: #F4F6F0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */
header {
    background-color: #8FA793;
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    width: 100px;
    height: 100px; 
}

img.logo {
    margin-left: -6%;
}

.user {
    display: flex;
    width: 60px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    margin-top: -1%;
}

#username {
    font-size: 18px;
    color: #F4F6F0;
    font-weight: 600;
    margin-left: 250%;
}

img.userIcon {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 100%;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    white-space: nowrap;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #F4F6F0;
    font-weight: 600;
}

img.userIcon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 20%;
}

.userOptions {
    background-color: #E8EBE3;
    width: 100px;
    height: 135px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.user .userOptions:before {
    content: '';
    background-color: #E8EBE3;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 15px;
    transform: rotate(45deg);
    position: absolute;
}

.user:hover {
    height: 135px;
    width: 130px;
}

button {
    background-color: #E8EBE3;
    margin-top: 6px;
    width: 100px;
    height: 25px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #003817;
    font-weight: 600;
}

.mobile-menu-icon {
    margin-left: 30%;
    display: none;
}

.mobile-menu {
    display: none;
}

.icon {
    width: 40px;
    height: 40px;
}

.line {
    display: none;
    background-color: #003817;
    width: 100%;
    height: 5px;
}

@media screen and (max-width: 730px) {
    .navBar {
        padding: 1.5rem 4rem;
        width: 50%;
    }

    .nav-item {
        display: none;
    }

    .user {
        display: none;
    }

    #menuIcon {
        background-color: #8FA793;
    }

    img.logo {
        margin-left: -20%;
    }

    .mobile-menu-icon {
        margin-top: 15px;
        margin-left: -40%;
        display: block;
    }

    .mobile-menu button{
        background-color: #8FA793;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        margin-right: 15%;
    }

    .mobile-menu .user {
        display: block;
        padding: 1rem 2rem;
    }

    .open {
        display: block;
    }

    .line {
        display: block;
    }
}

/* PEDIDOS DO CLIENTE*/

.order {
    display: flex;
    background-color: #E8EBE3;
    width: 61%;
    height: 330px;  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    padding: 50px 245px;
    margin-left: 50px;
    margin-top: 12%;
}

.order h3 {
    margin-top: -30px;
    text-align: initial;
    margin-left: -22%;
}

.productImg {
    margin-top: 2%;
    margin-left: -17%;
    width: 200px;
    height: 200px;
}

h3.price {
    margin-top: 25%;
    font-size: 20px;
    margin-left: -36%;
}

button.note {
    background-color: #8FA793;
    border-radius: 10px;
    color: #F4F6F0;
    width: 175px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32%;
    margin-left: -15%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 3%;
    margin-left: 2%;
}

h4 {
    margin-bottom: -5%;
}
/*nav {
    display: flex;
    align-items: center;
    background-color: #8FA793;
    width: 100%;
    height: 130px;
    margin-bottom: 50px;
}

.material-symbols-outlined {
    color: #E8EBE3;
    display: block;
    text-align: right;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


li {
    list-style: none;
    margin-left: 32px;
    color: #F4F6F0;
    font-weight: 600;
    font-size: 18px;
}

#username {
    position: absolute;
    right: 15%;
}

li a {
    text-decoration: none;
    color: #F4F6F0;
}

img {
    width: 100px;
    height: 100px;
}

.user {
    display: flex;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    margin-top: -1.8%;
    margin-left: 58%;
}

img.userIcon {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.userOptions {
    background-color: #E8EBE3;
    width: 100px;
    height: 135px;
    margin-left: -2%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.user .userOptions:before {
    content: '';
    background-color: #E8EBE3;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 15px;
    transform: rotate(45deg);
    position: absolute;
}

.user:hover {
    height: 135px;
    width: 100px;
}

button {
    background-color: #E8EBE3;
    margin-top: 6px;
    width: 100px;
    height: 25px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #003817;
    font-weight: 600;
}

*/

/*@media screen and (max-width: 1280px) {

    /* navbar */
    /*.navbar {
        width: 100%;
    }

    .order {
        flex-direction: column;
        width: 58%;
        margin-left: 25px;
    }

    .username {
        margin-left: 90%;
    }

    .order h3 {
        margin-left: -30%;
    }
}*/

/*@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    ul {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #8FA793;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    ul.active {
        transform: translateX(0);
    }

    menu.expandir {
        width: 300px;
    }
}*/